* {
margin: 0;
}
header, body, section, article, footer, nav, figure, figcaption {
        display: block;
}
body {
	background-color: #ffffff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	height: 100%;
	margin: 0;
}
header {
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	display: inline;
	float: left;
	font-family: Georgia, Times, "Times New Roman", serif;
	height: 96px;
	min-width: 1186px;
	width: 100%;
}
h1 {
	background-color: #4aaaa5;
	color: #ffffff;
	float: left;
	margin-left: 90px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 30px;
	text-align: center;
	width: 150px;
}
a:link, a:visited {
	text-decoration: none;
	color: #999999;
}
a:hover {
	color: #4aaaa5;
}
ul {
	list-style-type: none;
}
label {
	display: block;
	margin-top: 30px;
}
#article-header, h2, h3 {
	color: #4aaaa5;
	font-family: Georgia, Times, "Times New Roman", serif;
}
#site-nav {
	float: left;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin-left: 460px;
	margin-top: 40px;
	width: 270px;
}
li, .divider {
	display: inline;
}
.divider {
	color: #efefef;
	margin-left: 10px;
	margin-right: 10px;	
}
section {
	background-image: url(../../assets/images/light_honeycomb.png);
	background-repeat: repeat;
	clear: both;
	float: left;
	min-width: 1186px;
	width: 100%;
}
article {
	background-color: #ffffff;
	border: 2px solid #dddddd;
	color: #777777;
	float: left;
	margin-left: 90px;
	margin-top: 40px;
	padding: 30px;
	width: 590px;
}
#userpic {
	margin: 20px 20px 20px 0;
	float: left;
	width: 160px;
 	height: 160px;
 	background-image: url(../../assets/images/amindwi.gif);
 	background-position: 0 0;
}
#userpic:hover {
	background-position: 0 100%;
}
#about-me-divider {
	height: 4px;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #dddddd;
	border: 0;
}
#about-me-text {
	float: left;
}
#my-text {
	line-height: 140%;
	margin-top: 20px;
	text-align: justify;
}
blockquote {
    line-height: 140%;
	margin-top: 25px;
    padding-left: 20px;
	text-align: justify;
}
blockquote:before {
	color: #7a7a7a;
	content: "\201C";
	display: block;
	float: left;
	font-size: 80px;
	margin-right: 10px;
	margin-top: 20px;
	padding-bottom: 160px;
}
#connect {
	background-color: #ffffff;
	border: 2px solid #dddddd;
	color: #4aaaa5;
	float: left;
	margin-top: 40px;
	margin-left: 30px;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
	width: 270px;
}
#connect-divider {
	background: #efefef;
	border: 0;
	height: 2px;
	margin-bottom: 25px;
	margin-left: 50px;
	margin-top: 25px;
	width: 170px;
}
#connect-icons {
	padding: 0;
}
.icons {
	height: 60px;
	width: 60px;
}
.icons:hover {
	transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}
#portfolio-divider {
	background-color: #dddddd;
	border: 0;
	height: 4px;
	margin: 40px 0 0 0;
	width: 590px;
}
#portfolio-table {
	float: left;
	margin-left: 0;
	padding-top: 12px;
	width: 590px;
}
.portfolio-rows {
	display: block;
	padding-bottom: 28px;
	padding-top: 28px;
}
.portfolio-col1 {
	padding: 0 20px 0 0;
	width: 275px;
}
.portfolio-col2 {
	padding: 0 0 0 20px;
	width: 275px;
}
.icon {
	height: 205px;
	margin-bottom: -70px;
	width: 275px;
	z-index: 5;
}
figure {
	margin: 0;
	height: 205px;
	width: 275px;
}
figcaption {
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 20px;
	position: relative;
	padding-top: 14px;
	padding-bottom: 14px;
	text-align: center;
	z-index: 6;
}
figcaption:hover {
	background-color: #ffffff;
	color: #4aaaa5;
}
#contact-divider {
	background-color: #dddddd;
	border: 0;
	height: 4px;
	margin-left: 0;
	margin-top: 40px;
	width: 588px;
}
#name, #email{
	font-size: 14px;
	height: 35px;
	width: 588px;
}
#message {
	font-size: 14px;
	height: 200px;
	width: 588px;
}
#submit {
	background-color: #4aaaa5;
	border: 0;
	color: #ffffff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	height: 40px;
	margin-top: 20px;
	width: 116px;
}
#submit:hover {
	background-color: #92ccc9;
	color: #4aaaa5;
}
footer {
	background-color: #666666;
	border-top: 10px solid #4aaaa5;
	clear: both;
	color: #cccccc;
	min-width: 1186px;
	padding-top: 40px;
	text-align: center;
}
.wrapper {
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	min-height: 100%;
}
footer, .push {
height: 4em;
}